  .bomb {

            animation-name: bom;
           animation-duration: 3s;
           animation-iteration-count: infinite;

      }

          }

      @keyframes bom {
       //  0%   {  width:8%;}
         25%  {  width:17%;}
         50%  {  width:24%;}
         75%  { width:19%;}
         100% { width:18%;}

          }